@{
    ViewData["Title"] = "Index";
}

<h3>Minhas Contas</h3>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>#</th>
            <th>ID</th>
            <th>Nome</th>
            <th>Saldo</th>
        </tr>
    </thead>
    @{
        foreach (var item in (List<ContaModel>)ViewBag.ListaConta)
        {
            <tbody>
                <tr>
                    <td><button type="button" class="btn btn-primary" onclick="@("window.location.href='" + @Url.Action("CriarConta", "Conta", new {id = item.Id }) + "'");">Editar</button></td>
                    <td><button type="button" class="btn btn-danger" onclick="@("window.location.href='" + @Url.Action("Excluir", "Conta", new {id = item.Id }) + "'");">Excluir</button></td>
                    <td>@item.Id.ToString()</td>
                    <td>@item.Nome.ToString()</td>
                    <td>R$@double.Parse(item.Saldo).ToString("#,##0.00")</td>
                </tr>
            </tbody>
        }
    }
</table>

<button type="button" class="btn btn-block btn-primary" onclick="@("window.location.href='" + @Url.Action("CriarConta", "Conta") + "'");">Criar Conta</button>